In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("Housing.csv")
df=df.dropna()
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

Here we seperate the first 13 columns in X and the last column to be predicted as Y.

In [31]:
X = df[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']]
Y = df['MEDV']
# X=X.dropna()

Splitting the data into training and testing data using train_test_split

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3, random_state = 42)

NameError: name 'X' is not defined

Standardizing the data

In [33]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

Importing and loading the Linear Regression model on the data.

In [34]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

Printing our predicted values

In [35]:
print(y_pred)

[29.4740629  16.37996746 21.52711342 29.780343   18.04900191 33.67985764
 21.99074838 29.58417588 32.31794971 14.32018521 21.50907473 40.01643159
 20.75617092 16.1887228  17.79780198 19.4250608  15.4010506  14.72719577
 20.83030121 11.38425023 18.19855522 19.9193029  14.91561816 28.71482167
 25.78269283 15.58394764 26.7838576  31.33708909 23.49776506 26.73893931
 40.23784446 16.25798323 20.36653449 15.6681383  17.12775581 20.56961082
 21.09106267 21.3086931  22.96967904 20.50393574 27.62529586 34.46939649
 20.85284376 30.33069412 33.84765941 19.37388337 24.21183015  6.46586601
 19.21831662 24.9377608  21.71314046 25.29085304 13.57955522 17.18936666
 17.80511291 23.27771031 42.81646602 22.09434468 15.24563791 23.25250512
 20.73845027 21.08542694 11.2321196  28.62027926 -9.71404469 32.04716837
 14.77587283 30.65998001 24.7417101  19.42085602 31.34588656 31.83692794
 18.57619194 18.99695327 17.93885834 34.93880022 18.8122194  28.35640232
 16.18226103 14.85222659 36.73021386 23.55841216 23.69169363 10.71762597
 28.71166552 20.27192573 14.07643707  9.66707556 38.17090272 36.45684784
 18.97292001 16.9294264  27.34422718 14.07931245 26.86948206 38.09997849
 30.256581   23.49749685 21.64595842 12.84414112 21.25306712 29.30735277
 19.11715552 14.0753978  14.31934345 14.35428229 19.14399666 12.85769102
 37.16993372 12.22491022  3.17978357 -0.82824929 26.04225863 26.95949498
 17.47190821  8.85140891 24.62501348 29.86638371 18.47173738]

In [36]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mead squared Error is:")
print(rmse)

Root Mead squared Error is:
5.823824734179828

In [37]:
print("Training accuracy is:")
lr.score(X_train, y_train)

Training accuracy is:

0.7938985557779464

In [38]:
print("Testing accuracy is:")
lr.score(X_test, y_test)

Testing accuracy is:

0.6364248546526887